/*--------------------- SECTION: Features ------------------------------------*/
.sec-features {
  position: relative;
  background-color: #eaebed;
}
.sec-features__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center url("../../../../../img/backgrounds/bg_sec-features.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.sec-features__front {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-height: 100vh;
  padding: 50px 0;
}
.sec-features__title {
  max-width: 730px;
  margin: 30px auto;
  text-align: center;
  font-size: 42px;
  font-weight: 400;
  line-height: 64px;
}
.sec-features__parr-lt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.sec-features__parr-rt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.sec-features__parr-img {
  display: block;
  position: absolute;
  user-select: none;
}
.sec-features__lt-img_min {
  top: -100px;
  left: 20px;
}
.sec-features__lt-img_big {
  left: -130px;
}
.sec-features__lt-img_blur {
  left: -180px;
}
.sec-features__rt-img_min {
  top: 300px;
  right: -60px;
}
.sec-features__rt-img_big {
  top: 300px;
  right: -130px;
}
.sec-features__rt-img_blur {
  top: -600px;
  right: -210px;
}
.sec-features__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.sec-features__item {
  margin: 20px 0;
}
.sec-features__get {
  text-align: center;
}
.sec-features__offer {
  position: relative;
  z-index: 1;
}
/* ---------- ADAPTIVE < 1620 ------------------------------------------------*/
@media (max-width: 1620px) {
  .sec-features__lt-img_min {
    left: -20px;
  }
  .sec-features__lt-img_big {
    left: -220px;
  }
  .sec-features__lt-img_blur {
    left: -240px;
  }
  .sec-features__rt-img_min {
    right: -100px;
  }
  .sec-features__rt-img_big {
    right: -270px;
  }
  .sec-features__rt-img_blur {
    right: -310px;
  }
  .sec-features__list {
    max-width: 900px;
  }
}
/* ---------- ADAPTIVE < 1200 ------------------------------------------------*/
@media (max-width: 1200px) {
  .sec-features__parr-lt {
    left: -80px;
  }
  .sec-features__parr-rt {
    right: -80px;
  }
}
/* ---------- ADAPTIVE < 1024 ------------------------------------------------*/
@media (max-width: 1024px) {
  .sec-features__title {
    font-size: 32px;
    line-height: 42px;
  }
  .sec-features__list {
    max-width: 700px;
    justify-content: center;
  }
  .sec-features__parr-lt,
  .sec-features__parr-rt {
    display: none;
  }
}
/* ---------- ADAPTIVE < 760 -------------------------------------------------*/
@media (max-width: 760px) {
  .sec-features__front {
    padding: 20px 0;
  }
  .sec-features__title {
    margin: 10px 0 10px;
    font-size: 28px;
    line-height: 30px;
  }
  .sec-features__item {
    margin: 5px 0;
  }
}
/*--------------------- BLOCKS: Feature --------------------------------------*/
.feature {
  position: relative;
  width: 260px;
  min-height: 260px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
  transition: border-radius 0.6s;
  will-change: transform;
  z-index: 1;
}
.feature:before {
  content: "";
  display: block;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: linear-gradient(to bottom, #e1332e, #be2421);
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: scale(0, 0);
  transition: transform 0.8s;
  transform-origin: 50% 80%;
  z-index: -1;
}
.feature:hover {
  border-radius: 10px;
}
.feature:hover:before {
  transform: none;
}
.feature:hover .feature__icon {
  background-position: 0 100%;
}
.feature:hover .feature__title {
  opacity: 0;
  color: #fff;
  transform: translateY(-20px);
  transition-delay: 0s;
}
.feature:hover .feature__note {
  opacity: 1;
  visibility: visible;
  transform: none;
  transition-delay: 0.4s;
}
.feature__icon {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  margin: 25px 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 200%;
  transition: background-position 0.6s;
}
.feature__title {
  height: 72px;
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1em;
  transition: all 0.6s ease 0.4s;
}
.feature__note {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 130px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  transition: all 0.6s;
  transform: translateY(50px);
  will-change: transform;
}
.icon-f_star {
  background-image: url("../../../../../img/sec-features/icons/icons_star.svg");
}
.icon-f_tire {
  background-image: url("../../../../../img/sec-features/icons/icons_tire.svg");
}
.icon-f_keys {
  background-image: url("../../../../../img/sec-features/icons/icons_keys.svg");
}
.icon-f_heart {
  background-image: url("../../../../../img/sec-features/icons/icons_heart.svg");
}
.icon-f_speed {
  background-image: url("../../../../../img/sec-features/icons/icons_speed.svg");
}
.icon-f_piggy {
  background-image: url("../../../../../img/sec-features/icons/icons_piggy.svg");
}
.icon-f_growth {
  background-image: url("../../../../../img/sec-features/icons/icons_growth.svg");
}
.icon-f_inform {
  background-image: url("../../../../../img/sec-features/icons/icons_information.svg");
}
.icon-f_search {
  background-image: url("../../../../../img/sec-features/icons/icons_car-search.svg");
}
.icon-f_piston {
  background-image: url("../../../../../img/sec-features/icons/icons_piston.svg");
}
.icon-f_binocul {
  background-image: url("../../../../../img/sec-features/icons/icons_binoculars.svg");
}
.icon-f_mechanic {
  background-image: url("../../../../../img/sec-features/icons/icons_mechanic.svg");
}
.icon-f_suspension {
  background-image: url("../../../../../img/sec-features/icons/icons_suspension.svg");
}
.icon-f_chassis {
  background-image: url("../../../../../img/sec-features/icons/icons_chassis.svg");
}
.icon-f_alarm {
  background-image: url("../../../../../img/sec-features/icons/icons_alarm.svg");
}
.icon-f_snow {
  background-image: url("../../../../../img/sec-features/icons/icons_snow.svg");
}
.icon-f_fuel {
  background-image: url("../../../../../img/sec-features/icons/icons_fuel.svg");
}
.icon-f_motor {
  background-image: url("../../../../../img/sec-features/icons/icons_motor.svg");
}
.icon-f_painting {
  background-image: url("../../../../../img/sec-features/icons/icons_painting.svg");
}
.icon-f_transmision {
  background-image: url("../../../../../img/sec-features/icons/icons_transmision.svg");
}
.icon-f_success {
  background-image: url("../../../../../img/sec-features/icons/icons_success.svg");
}
/* ---------- ADAPTIVE < 1620 ------------------------------------------------*/
@media (max-width: 1620px) {
  .feature {
    width: 225px;
    min-height: 225px;
    padding: 10px;
  }
  .feature__title {
    height: 60px;
    font-size: 15px;
    line-height: 20px;
  }
  .feature__note {
    top: 115px;
    left: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=FeaturesSec.css.map */