/*--------------------- SITE FOOTER ------------------------------------------*/
.sf-logo {
  position: relative;
  flex: 0 0 auto;
  width: 220px;
  margin-bottom: 18px;
}
.sf-logo__img {
  display: block;
  width: 100%;
  height: auto;
}
.sf-logo__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sf-drop {
  position: relative;
  min-width: 220px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  z-index: 1;
}
.sf-drop__note {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
.sf-drop__links {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-top: -5px;
  margin-bottom: -5px;
  padding-bottom: 28px;
  z-index: 1;
}
.sf-drop__links:hover {
  position: absolute;
  background-color: #cecece;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transform: translateY(-75%);
}
.sf-drop__links:hover .sf-drop__link {
  display: block;
  padding-left: 10px;
}
.sf-drop__links:hover .sf-drop__link.is-active {
  color: #353a3e;
  background-color: transparent;
  cursor: default;
}
.sf-drop__link {
  display: none;
  padding: 5px 30px 5px 0;
  background-repeat: no-repeat;
  background-position: 85% center;
  background-size: 8px 5px;
}
.sf-drop__link:hover {
  color: #cc1612;
  background-color: rgba(255, 255, 255, 0.5);
}
.sf-drop__link.is-active {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url("../../../../img/icons/icon_drop_gray.svg");
}
.sf-top {
  padding: 25px 0 15px;
  color: #353a3e;
  background-color: #e0e0e0;
}
.sf-top__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 5px 0;
}
.sf-top__col-lt {
  flex: 0 0 auto;
}
.sf-top__col-lr {
  flex: 1 1 auto;
}
.sf-top__info {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 18px;
}
.sf-top__text {
  flex: 1 1 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.sf-top__creator {
  flex: 0 0 auto;
}
.sf-btm {
  padding: 16px 0 14px;
  color: #353a3e;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  background-color: #cecece;
}
.sf-btm a:hover {
  color: #cc1612;
}
.sf-btm__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.sf-btm__col {
  flex: 0 0 auto;
}
.sf-creator {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.sf-creator__note {
  flex: 0 0 auto;
  margin: 0 15px 0 0;
  color: #858585;
  font-size: 14px;
  font-weight: 300;
}
.sf-creator__link {
  display: block;
  flex: 0 0 auto;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
}
.sf-creator__link:hover {
  opacity: 1;
  filter: none;
}
.sf-creator__img {
  display: block;
  width: 84px;
  margin-top: -10px;
}
.sf-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  margin-top: 14px;
}
.sf-nav__link {
  display: block;
  margin-left: 26px;
  font-size: 18px;
}
.sf-nav__link:hover,
.sf-nav__link.is-active {
  color: #cc1612;
}
.sf-cart-informer {
  display: block;
  position: fixed;
  right: -140px;
  bottom: -140px;
  width: 280px;
  height: 280px;
  background: #cc1612 no-repeat 55px 60px url("../../../../img/icons/icon_cart-info_white.svg");
  background-size: 55px auto;
  border: 3px solid rgba(128, 128, 128, 0.2);
  border-radius: 140px 0 0 140px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.6s;
  z-index: 10;
}
.sf-cart-informer:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.sf-cart-informer:after {
  content: attr(data-count);
  display: block;
  position: absolute;
  top: 65px;
  left: 62px;
  width: 50px;
  text-align: center;
  color: #cc1612;
  font-size: 18px;
  font-weight: 700;
}
.sf-car-change {
  display: none;
  position: fixed;
  left: -50px;
  bottom: -50px;
  width: 100px;
  height: 100px;
  background: #cc1612 no-repeat 50px 12px url("../../../../img/icons/icon_car_white.svg");
  background-size: 32px auto;
  border: 3px solid rgba(128, 128, 128, 0.2);
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.6s;
  z-index: 10;
}
/* ---------- ADAPTIVE < 1220 ------------------------------------------------*/
@media (max-width: 1220px) {
  .sf-nav {
    margin-left: 50px;
  }
  .sf-nav__link {
    margin-left: 12px;
    font-size: 16px;
    line-height: 20px;
  }
}
/* ---------- ADAPTIVE < 1024 ------------------------------------------------*/
@media (max-width: 1024px) {
  .sf-nav__link {
    margin-left: 8px;
    font-size: 14px;
  }
  .sf-cart-informer {
    right: -70px;
    bottom: -70px;
    width: 140px;
    height: 140px;
    background: #cc1612 no-repeat 15px 25px url("../../../../img/icons/icon_cart-info_white.svg");
    background-size: 50px auto;
  }
  .sf-cart-informer:after {
    top: 29px;
    left: 20px;
    width: 50px;
    text-align: center;
    color: #cc1612;
    font-size: 18px;
  }
}
/* ---------- ADAPTIVE < 760 -------------------------------------------------*/
@media (max-width: 760px) {
  .sf-top__row {
    display: block;
  }
  .sf-top__col-lt {
    width: 220px;
    margin: 0 auto;
  }
  .sf-top__info {
    display: block;
    text-align: center;
  }
  .sf-top__creator {
    display: inline-flex;
    vertical-align: top;
    margin-top: 20px;
  }
  .sf-nav {
    justify-content: center;
    margin: 20px 0;
  }
  .sf-nav__link {
    margin: 5px 8px;
    font-size: 16px;
  }
  .sf-car-change {
    display: block;
  }
}
/* ---------- ADAPTIVE < 540 -------------------------------------------------*/
@media (max-width: 540px) {
  .sf-btm__row {
    display: block;
    text-align: center;
  }
}
/*# sourceMappingURL=Footer.css.map */