.btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding: 14px 37px 12px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.12em;
  background: linear-gradient(to bottom, #da1e18, #bb0f0d);
  border: none;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(204, 22, 18, 0.5);
  overflow: hidden;
  z-index: 1;
}
.btn:before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: linear-gradient(to bottom, #d41915, #c4130f);
  border-radius: 22px;
  overflow: hidden;
  z-index: -1;
}
@media (min-width: 1025px) {
  .btn_arrow-rt {
    transition: padding 0.3s ease 0.1s;
  }
  .btn_arrow-rt:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 35px;
    width: 35px;
    height: 12px;
    margin-top: -7px;
    background: no-repeat 0 0 url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2235px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2035%2012%22%20enable-background%3D%22new%200%200%2035%2012%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M29.214%2C0.215c-0.289-0.286-0.757-0.286-1.046%2C0c-0.29%2C0.288-0.29%2C0.752%2C0%2C1.039l4.173%2C4.081H0.665%0A%09C0.297%2C5.335%2C0%2C5.633%2C0%2C6.001c0%2C0.368%2C0.297%2C0.665%2C0.665%2C0.665h31.676l-4.173%2C4.08c-0.29%2C0.286-0.29%2C0.751%2C0%2C1.038%0A%09C28.312%2C11.928%2C28.501%2C12%2C28.69%2C12c0.189%2C0%2C0.379-0.072%2C0.523-0.216L35%2C6L29.214%2C0.215z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-size: 100% 100%;
    transition: opacity 0.3s;
  }
  .btn_arrow-rt:hover {
    padding-right: 90px;
    transition-delay: 0s;
  }
  .btn_arrow-rt:hover:after {
    opacity: 1;
    transition-delay: 0.1s;
  }
  .btn_arrow-lt {
    transition: padding 0.3s ease 0.1s;
  }
  .btn_arrow-lt:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 35px;
    width: 35px;
    height: 12px;
    margin-top: -7px;
    background: no-repeat 0 0 url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C!--%20Generator%3A%20Adobe%20Illustrator%2016.0.2%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200)%20%20--%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%2235px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2035%2012%22%20enable-background%3D%22new%200%200%2035%2012%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M0%2C6l5.787%2C5.784C5.932%2C11.928%2C6.121%2C12%2C6.311%2C12c0.188%2C0%2C0.377-0.072%2C0.521-0.216%0A%09c0.29-0.287%2C0.29-0.752%2C0-1.038l-4.173-4.08h31.676C34.703%2C6.666%2C35%2C6.369%2C35%2C6.001s-0.297-0.666-0.665-0.666H2.659l4.173-4.081%0A%09c0.29-0.287%2C0.29-0.751%2C0-1.039c-0.289-0.286-0.757-0.286-1.046%2C0L0%2C6z%22%2F%3E%0A%3C%2Fsvg%3E%0A");
    background-size: 100% 100%;
    transition: opacity 0.3s;
  }
  .btn_arrow-lt:hover {
    padding-left: 90px;
    transition-delay: 0s;
  }
  .btn_arrow-lt:hover:after {
    opacity: 1;
    transition-delay: 0.1s;
  }
}
.btn__icon-rt {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin: -2px -5px 2px 5px;
}
.btn_gray {
  background: linear-gradient(to bottom, #989b9d, #777b7e);
  box-shadow: 0 5px 15px rgba(171, 171, 171, 0.6);
}
.btn_gray:before {
  background: none;
}
.btn_white-outlined {
  padding: 12px 37px 10px;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}
.btn_white-outlined:before {
  display: none;
}
.btn_white-outlined:hover {
  color: #cc1612;
  background-color: #fff;
  border-color: #cc1612;
}
.btn_gray-outlined {
  padding: 12px 37px 10px;
  color: #878b8d;
  background: transparent;
  border: 2px solid #878b8d;
  box-shadow: none;
}
.btn_gray-outlined:before {
  display: none;
}
.btn_gray-outlined:hover {
  background-color: #fff;
  border-color: #cc1612;
}
.btn_white-outlined {
  padding: 12px 37px 10px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  box-shadow: none;
}
.btn_white-outlined:before {
  display: none;
}
.btn_white-outlined:hover {
  background-color: #fff;
  border-color: #cc1612;
}
.btn_wide {
  display: block;
  width: 100%;
}
.btn_big {
  padding: 17px 37px 15px;
  border-radius: 30px;
}
.btn_shmatn {
  margin: 20px;
  padding: 19px 37px 17px;
  border-radius: 30px;
}
.btn_shmatn:before {
  border-radius: 28px;
}
.btn_shmatn i {
  display: inline-block;
  vertical-align: top;
  width: 36px;
  height: 22px;
  margin: 0 15px 2px -15px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: auto 22px;
  border-right: 1px solid #a60c0a;
}
/*# sourceMappingURL=btn.css.map */