/*--------------------- SECTION: Intro ---------------------------------------*/
.sec-intro {
  display: flex;
  position: relative;
  min-height: 100vh;
  background-color: #808080;
  overflow: hidden;
}
.sec-intro__panel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 33.33%;
}
.sec-intro__panel:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(85, 85, 85, 0.5);
}
.sec-intro__testing {
  left: 0;
}
.sec-intro__testing .panel__back {
  background-image: url("../../../../../img/sec-intro/bg_testing.jpg");
}
.sec-intro__service {
  left: 33.33%;
}
.sec-intro__service .panel__back {
  background-image: url("../../../../../img/sec-intro/bg_service.jpg");
}
.sec-intro__repair {
  left: 66.66%;
}
.sec-intro__repair .panel__back {
  background-image: url("../../../../../img/sec-intro/bg_repair.jpg");
}
.sec-intro__panels {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.sec-intro__nav {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.sec-intro__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.sec-intro__back:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  opacity: 0.75;
}
.sec-intro__back:after {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.sec-intro__front {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 200px 0 100px;
  color: #fff;
  text-align: center;
}
.sec-intro__front .container {
  padding-right: 80px;
  padding-left: 80px;
}
.sec-intro__title {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 400;
  line-height: 62px;
  user-select: none;
}
.sec-intro__lead {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 40px;
}
.sec-intro__type {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-decoration: underline;
}
.sec-intro__btn {
  padding: 18px 63px 16px 40px;
  border-radius: 28px;
}
.sec-intro__btn:before {
  border-radius: 26px;
}
.sec-intro__btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 24px;
  height: 24px;
  margin-top: -13px;
  background: no-repeat center url("../../../../../img/icons/icon_arrow-rt-bold_white.svg");
  background-size: 24px 24px;
}
.sec-intro__form {
  max-width: 960px;
  margin: 60px auto 0;
}
.sec-intro__form_slim {
  max-width: 770px;
}
.sec-intro__form_slim .subscribe__name {
  width: 30%;
}
.sec-intro__form_slim .subscribe__numb {
  width: 25%;
}
.sec-intro__features {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 80px auto -30px;
  padding: 0;
  list-style: none;
}
/* ---------- ADAPTIVE < 1420 ------------------------------------------------*/
@media (max-width: 1240px) {
  .sec-intro__features {
    max-width: 900px;
  }
}
/* ---------- ADAPTIVE < 1080 ------------------------------------------------*/
@media (max-width: 1080px) {
  .sec-intro__features {
    max-width: 580px;
    margin-top: 50px;
  }
}
/* ---------- ADAPTIVE < 1024 ------------------------------------------------*/
@media (max-width: 1024px) {
  .sec-intro__panel {
    top: auto;
    left: 0;
    right: 0;
    bottom: auto;
    width: auto;
  }
  .sec-intro__testing {
    top: 0;
    height: 40%;
  }
  .sec-intro__service {
    top: 40%;
    height: 30%;
  }
  .sec-intro__repair {
    top: 70%;
    height: 30%;
  }
  .sec-intro__form {
    max-width: 320px;
  }
}
/* ---------- ADAPTIVE < 760 -------------------------------------------------*/
@media (max-width: 760px) {
  .sec-intro.has-panels {
    height: 100vh;
    min-height: 450px;
  }
  .sec-intro__front {
    padding: 70px 0 20px;
  }
  .sec-intro__front .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .sec-intro__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 34px;
  }
  .sec-intro__lead {
    font-size: 20px;
    line-height: 24px;
  }
  .sec-intro__btn {
    padding: 9px 50px 7px 20px;
    border-radius: 28px;
  }
  .sec-intro__btn:after {
    right: 20px;
  }
  .sec-intro__form {
    margin-top: 20px;
  }
  .sec-intro__features {
    display: none;
  }
}
/*# sourceMappingURL=IntroSec.css.map */